

@import url(books.css);
@import url(main.css);

.book {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 2rem;
}

.book .bookInfo {
    width: 70%;
}

.book .bookImage {
    height: 500px;
    width: 30%;
}

.bookDetails {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.book .bookInfo .bookDetails p {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 2rem;
}

.book .bookInfo .bookDetails h2 {
    margin: 0;
}

.bookContentPayment {
    display: flex;
    justify-content: start;
    align-items: stretch;
    margin-top: 3rem;
    gap: 2rem;
}

.bookContent {
    width: 60%;
}

.bookContent h2 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}


.bookContent ul {
    width: 100%;
    list-style: none;
}



.bookContent ul li {
    width: 100%;
    padding: 1rem 2rem;
    background: var(--theme-bg-color-2);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.bookContent ul li i {
    font-style: normal;
    font-weight: 700;
}

.offer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 40vh;
    font-size: 3rem;
    font-weight: 900;
    color: var(--fifth-color);
}