

@import url(courses.css);
@import url(main.css);

.coursePreview {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 3rem;
}


.coursePreview .courseData {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60%;
}


.coursePreview .courseImage {
    border-radius: .5rem;
}

.coursePreview .courseData p {
    font-size: 1rem;
    font-weight: 700;
}

.coursePreview .courseData h2 {
    margin-bottom: 0;
}

.coursePreview .courseData .courseTags {
    margin-bottom: 2rem;
}

.courseContent {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.courseContent > ul  {
    width: 100%;
    margin-top: 1rem;
}

.courseContent > ul > li {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #fff;
}

.courseContent > ul > li > div {
    color: var(--theme-text-color);
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.courseContent > ul > li > ul {
    list-style: none;
    width: 100%;
    padding: 0 2rem;

    display: none;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: .5rem;
}

.courseContent > ul > li > ul > li {
    width: 100%;
}

.coursePreview h2 {
    font-size: 1.5rem;
    padding: 0;
    margin-bottom: .5rem;
}

.courseContent > ul > li.open > ul{
    display: flex;
}


.discription p{
    color: var(--gray-color-500);
}

.discription,
.teacher {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: .5rem;
}



.coursePreview .buyCourse {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: sticky;
    top: 7rem;
}

.coursePreview .buyCourse h2 {
    margin: .5rem 0;
    padding: 0;
}

.coursePreview .buyCourse .courseDetails .priceAndActions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coursePreview .buyCourse .courseDetails .priceAndActions .actions {
    display: flex;
    gap: 1rem;
}

.coursePreview .buyCourse .courseDetails .priceAndActions .actionBtn {
    color: var(--gray-color-500);
    border: 1px solid var(--gray-color-500);
    padding: .5rem 1rem;
    border-radius: var(--border-radius-rounded);
    cursor: pointer;
    transition: .3s;
}

.coursePreview .buyCourse .courseDetails .priceAndActions .actionBtn:hover {
    background: var(--main-color);
    color: var(--theme-text-color);
    border-color: var(--main-color);
}

.coursePreview .buyCourse .courseDetails .priceAndActions .actionBtn:nth-child(1) {
    padding: .5rem .6rem;
}

.coursePreview .buyCourse .courseDetails {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.coursePreview .buyCourse p{
    color: var(--gray-color-500);
    font-size: .9rem;
}

.coursePreview .buyCourse .coursePrice {
    font-size: 1.5rem;
    font-weight: 900;
}

@media screen and (max-width: 850px){
    .coursePreview {
        flex-direction: column-reverse;
    }

    .coursePreview .buyCourse {
        position: static;
        width: 100%;
    }

    .coursePreview .courseData {
        width: 100%;
    }

    .teacher .teacherCard {
        width: 100%;
    }

    .coursePreview {
        padding: 1rem;

    }
}