@import url(main.css);



.scrollTopBtn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    border: 2px solid var(--main-color);
    padding: 1rem 1.1rem;

}

.section {
    padding: 2.5rem 3rem;
}

.section .heading {
    padding: 0;
}

.navbar nav .burger .line1,
.navbar nav .burger .line2,
.navbar nav .burger .line3 {
    background: #fff;
}

.homePage {
    overflow: hidden;
}

.bigBall {
    width: 100px;
    height: 100px;
    background: #0087f512;
    border-radius: 50%;
    box-shadow: 0 0 15rem var(--main-color);
    position: absolute;
    z-index: -1;
}

.group1 {
    position: absolute;
    top: 60%;
    left: 0%;
}

.group2 {
    position: absolute;
    top: 90%;
    right: 0%;
}


.group3 {
    position: absolute;
    top: 350%;
    left: 40%;
}

.group4 {
    position: absolute;
    top: 220%;
    right: 50%;
}


.hero-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-bottom: 0;
    height: 100vh;
    gap: 1rem;
    padding-top: 7rem;
    position: relative;
    background-image: url(./images/heroImage2.png);
    background-position: center;
    background-size: cover;
}

.hero-container .image {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.hero-container .image img {
    width: 400px;
}

.hero-content {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
    z-index: 3;
    margin-bottom: 3rem;
    position: relative;
}

.hero-content .btns {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.hero-content .btns .btn:nth-child(2) {
    background: none;

}

.hero-content>p {
    position: absolute;
    bottom: 0;
}

.hero-content .btn {
    background: var(--main-color);
}

.custom-shape-divider-bottom-1728647107 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1728647107 svg {
    position: relative;
    display: block;
    width: calc(170% + 1.3px);
    height: 500px;
}

.custom-shape-divider-bottom-1728647107 .shape-fill {
    fill: var(--theme-bg-color);
}

.hero-content div:nth-child(1) {

    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.hero-content div:nth-child(1) .btn {
    width: fit-content;
}

.hero-content div p:nth-child(1) {
    margin-bottom: 0;
}

.hero-content h2 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 3rem;
    width: 100%;
    margin-bottom: 1rem;
}

.hero-content h2 span {
    background: var(--gradient-color);
    -moz-background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
}

.hero-content p {
    font-size: .9rem;
    font-weight: 700;
    color: var(--gray-color-400);
    margin-bottom: 1rem;

}

.hero-container .socialLinks {
    display: flex;
    gap: 1rem;
}

.hero-container .socialLinks a {
    background: var(--gradient-color);
    -moz-background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    font-size: 1.3rem;
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
}

.hero-container .socialLinks a:hover {
    color: var(--theme-bg-color);
    background: var(--gradient-color);

}

.skill {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    opacity: .5;
    background: var(--gradient-color);
    -moz-background-clip: text;
    -webkit-background-clip: text;

    color: transparent;

    pointer-events: none;
}


.skill:nth-child(1) {

    position: absolute;
    bottom: 20%;
    left: 25%;
    rotate: -10deg;

}

.skill:nth-child(2) {

    position: absolute;
    bottom: 20%;
    right: 24%;
    rotate: 10deg;

}

.skill:nth-child(3) {

    position: absolute;
    top: 15%;
    right: 35%;
    rotate: 20deg;

}

.skill i {
    font-size: 1.5rem;
}


/* ABOUT SECTION */

.aboutSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.aboutSection .aboutContent>div:nth-child(1) {
    width: 40%;
    height: 60vh;
    border-radius: .5rem;

    background: var(--gradient-color);
}

.aboutSection .aboutContent>div:nth-child(1) div {
    background-image: url(https://as2.ftcdn.net/v2/jpg/01/99/36/81/1000_F_199368197_CXhzovd2cgXhK3SR4xjUKNhTer8j5I87.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
    left: 1.5rem;
    bottom: 1.5rem;
    border-radius: .5rem;
    box-shadow: -5px 7px 10px #0005;
}

.aboutSection .aboutContent {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
}



.aboutSection .aboutText {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    gap: 0rem;
    width: 100%;
}

.aboutSection .aboutText p {
    font-size: 1.1rem;
    font-weight: 700;
    opacity: .7;
}

.aboutSection .aboutText .skills {
    display: flex;
    width: 100%;
    gap: 2rem;
}

.aboutSection .aboutText .skills .skillBox {
    width: 33.333%;
    text-align: center;
    background: var(--main-color-hover);
    padding: 2rem 0;
    border-radius: .5rem;
    color: var(--theme-bg-color);
    font-weight: 700;
    font-size: 1.5rem;
}

.aboutSection h3 {
    font-size: 1.5rem;
    margin: 2rem 0 .5rem 0;
    font-weight: 800;

}

.team {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    width: 100%;
}

.team .teamMember {
    height: 400px;
    width: calc(100% / 4);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: .5rem;
    overflow: hidden;
    padding: 1rem;
    background-position: center;
    background-size: cover;
}

.team .teamMember:hover div{
    height: 100%;
}


.team .teamMember:hover div p:nth-last-child(1) {
    left: 1rem;
    opacity: 1;
}


.team .teamMember div {
    background: var(--cards-bg);
    color: var(--theme-text-color);
    width: 100%;
    padding: 1.2rem 1rem;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    border-radius: 1rem;
    position: relative;
    transition: .5s;
    height: 6rem;
}

.team .teamMember div p:nth-last-child(1) {
    position: absolute;
    left: -100%;
    opacity: 0;
    font-size: .8rem;
    color: var(--gray-color-400);
    bottom: 1.2rem;
    width: calc(100% - 2rem);
    transition: .5s;
}


.team .teamMember div p {
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 1.1rem;
}

.team .teamMember div span:nth-child(2) {
    font-size: .8rem;
    font-weight: 700;
    color: var(--gray-color-400);
}

.team .teamMember div span:nth-child(3) {
    font-size: .6rem;
    font-weight: 700;
    color: var(--gray-color-400);
    margin-top: .4rem;

}

/* WHY ME SECTION */

.whyUsSection {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.why-us-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    gap: 1rem;

}

.why-us-item {
    border-radius: .4rem;
    padding: 1rem;
    transition: var(--transition-delay-05);
    position: relative;
    cursor: pointer;
    background: var(--cards-bg);
}

.why-us-item:hover::before {
    opacity: 1;
}

/* .why-us-item::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y), 
        #fff3,
        transparent 70%
      );
      z-index: 3;
      border-radius: inherit;
      content: "";
      height: 100%;
      left: 0px;
      opacity: 0;
      position: absolute;
      top: 0px;
      transition: opacity 500ms;
      width: 100%;
} */

.why-us-item:hover {
    transform: scale(1.02);
    transition: var(--transition-delay-03);
}

.why-us-item i {
    font-size: 2.5rem;
    width: 100%;
    margin-bottom: 1rem;
    color: var(--main-color);
}

.why-us-item p {
    font-size: .9rem;
    line-height: 1.5;
    margin-bottom: 0;
    font-family: var(--font-family-rubik);
}

.why-us-item span {
    font-weight: 800;
    font-size: 1.1rem;
}

/* LATEAST COURSES */

.latestCoursesSection,
.latestBooksSection,
.topTeachersSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.topTeachersSection .btn,
.latestCoursesSection .btn {

    margin-top: 2.5rem;
}

.topTeachersSection .teachersGrid {
    margin-bottom: 0;
    padding: 0;
}

/* TESTIMONIALS */

.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;

}

.testimonials .slick-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89%;
    margin: auto;
}

.testimonials .slick-slider .slick-prev::before {
    font-size: 2rem;
    color: var(--main-color);
}

.testimonials .slick-slider .slick-next::before {
    font-size: 2rem;
    color: var(--main-color);
}

.slick-slider>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

.slick-slider>div .userData {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slick-slider>div .userData .userAvatar {
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0 0 2rem var(--main-color);
    margin-bottom: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2rem;
}

.slick-slider>div .userData p {
    font-size: 1.5rem;
    font-weight: 700;
}


.slick-slider>div p {
    font-size: .9rem;
    padding: 0 3rem;
    width: 100%;
}

.slick-slider>div i {
    font-size: 4rem;
    color: var(--main-color);
    margin-top: 1rem;
}

.slick-slider>div .userData span {
    padding: .2rem .7rem;
    font-weight: 600;
    text-align: center;
    border-radius: var(--border-radius-rounded);
    background: var(--second-color);
    margin-bottom: 2rem;
    margin-top: .2rem;
}

/* CALL TO ACTION */

.callToAction {
    background-image: url(../assets/images/student.png);
    background-repeat: no-repeat;
    background-position: center end;
    background-size: cover;

    height: 70vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

.callToAction>div {
    width: 50%;
}

.gridContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    gap: 2rem;
    padding: 0 2.5rem;
}



@media screen and (max-width:1120px) {


    .aboutSection .aboutText .skills .skillBox {
        padding: .8rem;
        font-size: .8rem;
    }

    .aboutSection .aboutText p {
        font-size: .9rem;
    }



    .aboutSection .aboutText .skills .skillBox {

        font-size: 1.1rem;
    }

    .skill:nth-child(1) {
        left: -10%;
    }

    .skill:nth-child(2) {
        bottom: 20%;
    }

}


@media screen and (max-width:965px) {



    .why-us-section {
        grid-template-columns: repeat(3, 1fr);
    }

    .aboutContent {
        flex-direction: column-reverse;
    }

    .aboutContent .aboutText {
        width: 100%;
    }

    .aboutSection .aboutContent>div:nth-child(1) {
        width: 100%;
    }

    .aboutSection .aboutText .skills .skillBox {

        font-size: 1rem;
    }


    .hero-container .hero-content {
        width: 100vw;

    }

    .hero-content h2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .bigBall {
        box-shadow: 0 0 10rem var(--main-color);
        background: #0087f525;
    }

    .section {
        padding: 1rem;
    }

    .testimonials {

        grid-template-columns: 1fr 1fr;

    }
}



@media screen and (max-width: 950px) {

    .latestCoursesSection .gridContainer {

        grid-template-columns: repeat(2, 1fr);
    }

}


@media screen and (max-width:780px) {
    .why-us-section {
        grid-template-columns: repeat(2, 1fr);
    }


    .schoolYearsSection .schoolYears {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 400px);
    }

    .testimonials {

        grid-template-columns: 1fr;

    }

    .schoolYearsSection .schoolYears .schoolYear h4 {
        bottom: 2rem;
    }


    .skill:nth-child(2) {

        right: 10%;

    }
    .team .teamMember {
        width: calc(100% / 3);
    }


}


@media screen and (max-width: 700px) {




    .latestCoursesSection .gridContainer {
        grid-template-columns: 1fr;
        padding: 0 1rem;

    }



}

/* MEDIA QUEIES */


@media screen and (max-width:500px) {
    .why-us-section {
        grid-template-columns: 1fr;
    }

    .aboutSection .aboutText .skills .skillBox {

        font-size: .7rem;
    }

    .aboutSection .aboutText .skills .skillBox p {
        font-size: .7rem;

    }

    .hero-container .hero-content {
        width: 100%;
    }

    .hero-container .hero-content p {
        font-size: .8rem;
    }

    .hero-container {
        justify-content: center;
        align-items: center;
    }

    .team .teamMember {
        width: calc(100% / 2);
    }



}


@media screen and (max-width: 450px) {



.team {
    flex-direction: column;
}
    .team .teamMember {
        width: 100%;
    }



}