@import url(main.css);

.themeContainer {
    position: absolute;
    bottom: -3rem;
    right: 1rem;
    z-index: 333;
}

.themeBox {
    width: 210px;
    background: #222;
    transition: 0.3s;
    border-radius: .5rem;
    z-index: 1;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: .5rem;
    padding: .5rem 1rem;
    box-shadow: 0 0 .5rem var(--main-color);
    padding-bottom: 1rem;
}

.transHide {
    opacity: 0;
    transition: 0.5s;
    transform: scale(0);
    box-shadow: none;
}

.transHide .themesGrid>div {
    opacity: 0;
}

.transHide h5 {
    opacity: 0;
}

.themeContainer .themeColor {
    background: var(--main-color);
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: fixed;
    right: 1.3rem;
    top: 1.7rem;
    z-index: 33;
    box-shadow: 0 0 .5rem var(--main-color);
}

.themesGrid {
    display: grid;
    grid-template-columns: repeat(6, 20px);
    grid-template-rows: repeat(2, 20px);
    width: 100%;
    gap: .5rem;
}

.themesGrid > div {
    height: 20px;
    border-radius: .3rem;
}

.themesGrid > div:nth-child(1) {
    background: var(--blue-color-600);
}

.themesGrid > div:nth-child(2) {
    background: var(--first-color);
}

.themesGrid > div:nth-child(3) {
    background: var(--third-color);
}

.themesGrid > div:nth-child(4) {
    background: var(--fourth-color);
}

.themesGrid > div:nth-child(5) {
    background: var(--fifth-color);
}



.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    z-index: 9999;
    overflow: hidden;
    transition: 0.5s;
    width: 100%;
    padding: .25rem 3rem;

}

.navbar.active {
    background: var(--gradient-color);
}


.navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navbar nav .logo {
    z-index: 999999;
    padding: .5rem 0;
}

.navbar nav .logo img{
    width: 2.5rem;
    cursor: pointer;
}


.navbar nav .logo {
    font-size: 3rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;
    overflow: hidden;
    transition: 0.5s;
}

.navbar nav ul li {
    width: 100%;
}

.navbar nav ul li a i{ 
    width: min(3rem);
    font-size: 1.5rem;
}

.navbar nav ul li a {
    color: var(--gray-color-300);
    text-decoration: none;
    font-weight: 700;
    border-radius: var(--border-radius-rounded);
    padding: .3rem 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    width: fit-content;
    color: var;
}

.navbar nav ul li a.loginBtn{
    font-weight: 900;
    color: var(--theme-text-color);

}

.navbar nav .toggleNavBtn {
    z-index: 10;
    background: none;
    border: none;
    color: var(--theme-text-color);
    font-size: 1.2rem;
    cursor: pointer;
    display: none;
}


@media screen and (max-width: 950px){

    .navbar nav .toggleNavBtn {
        display: inline-block;
    }

    .navbar {
        height: 70px;
    }

    .navbar nav {
       
        padding: 1rem 0;
    }

    .navbar nav ul {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        background: var(--navbar-bg);
        height: calc(100vh - 70px);
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 0 ;
        padding-top: 2rem;
        gap: 1rem;
        display: none;
    }

    .navbar.slide nav ul {
        display: flex;
    }

    .navbar nav ul li {
        width: auto;
        border-bottom: 1px solid #fff;
        width: 100%;
        padding: 1rem ;
        
        
    }

    .navbar nav ul li:nth-last-child(1):hover {
        background: none;
    }
    
    .navbar nav ul li:hover {
     
    }
    
    .navbar nav ul .btn {
        width: fit-content;
        margin-left: 1rem;
    }
    
}